/* css default */
*{
    font-family: cursive;
    margin:0;
    padding:0;
}
/* header styles */
header div{
    text-align: center;
    background-color: red;
    padding: 20px;
}
header div h1.main-heading{
    
    color: white;
    border: 4px white solid;
    display: inline-block;
    border-radius: 25px;
    padding: 10px;
}
header div.nav-bar{
    background-color: grey;
    
}
header div a.navbar-link{
    color: white;
    margin: 120px;
    text-decoration: none;
}
/* main styles */
main img{
    /* width: 100%; */
    border-bottom: 7px red solid;
}
main div.main-content{
    margin: 30px 60px ;
}
main div.main-content h1{
    color: red;
    text-align: center;
}
main div.main-content p{
    font-size: 20px;
    line-height: 40px;
    text-align:justify;
}
/* footer styles */
footer{
    background-color: grey;
    padding: 25px;
}
footer h5.copyright{
    background-color: grey;
    text-align: center;
    color: white;
    font-size: 20px;    
}
 /* FRiends main styles */
 main div.mario_friends p{
     text-align: center;
     font-size: 25px;
    }
    main div.mario_friends h1{
     color: red;
     text-align: center;
     font-size: 40px;
    }
    main #friends-banner{
        width: 100%;
    }
    .friends-box{
        text-align: center;
        padding: 20px;
        background-color: lightgray;
        border-radius: 25px;
        margin: 50px 0;
    }
    .friends-box img{
        border: none;

    }
    .friends-box h1{
        color: red;
    }
    .friends-box p{
        line-height:40px;
        font-size: 20px;
    }
    section{
        max-width: 1000px;
        margin: 20px auto;
    }
    main div.gallery-images{
        text-align: center;
        margin: 30px;
    }
    main div.gallery-images img{
        margin: 8px;
    }
    main h1{
        color: red;
        text-align: center;
        font-size: 50px;
    }
    main div.banner img{
        width: 100%;
    }



